CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TEXT_BASE=0x87800000
CONFIG_MX6ULL=y
CONFIG_TARGET_MX6ULL_14X14_EVK=y
CONFIG_DEFAULT_DEVICE_TREE="imx6ull-14x14-evk"
CONFIG_SYS_ARCH="arm"
CONFIG_SYS_CPU="armv7"
CONFIG_SYS_BOARD="mx6ullevk"
CONFIG_SYS_VENDOR="freescale"
CONFIG_SYS_SOC="mx6"
CONFIG_SYS_CONFIG_NAME="mx6ullevk"
CONFIG_OF_CONTROL=y
CONFIG_MXC_UART=y
CONFIG_SYS_PBSIZE=532

# 开启 Debug UART
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_MXC=y
CONFIG_DEBUG_UART_BASE=0x02020000
CONFIG_DEBUG_UART_CLOCK=80000000
